 <div class="side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                          <li class="left-menu-title">Navigation</li>
                            <div class="dropdown">
                              <button class="btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><%= link_to 'All Tickets', tickets_path, class: "dropdown-item" %></li>
                                <!-- <li><a class="dropdown-item" href="#">New Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Active Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Pending Tickets</a></li>
 -->

                              </div>
                            </div>

                             <div class="dropdown">
                              <button class="btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart" aria-hidden="true"></i> Insights
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <li><%= link_to 'Summary', insights_path, class: "dropdown-item" %></li>
                                <li><%= link_to 'Tracking', insights_users_path, class: "dropdown-item" %></li>
                                <li><%= link_to 'Responsiveness', insights_tickets_path, class: "dropdown-item" %></li>
                                <li><%= link_to 'Individual Performance', insights_calls_path, class: "dropdown-item" %></li>
                              </div>
                            </div>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
