 <div class="sidebar" >
                <div>
                    <!--- Divider -->
                    <div>
                              <%= link_to tickets_path do %>
                                <button class="btn-secondary ticket_link" type="button">
                                  <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
                                </button>
                              <% end %>
                            <% if current_user.position == "csrep" || current_user.position == 'manager' %>
                               <div class="dropdown">
                                <button class="btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart" aria-hidden="true"></i> Insights
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <% if current_user.position == 'manager' %>
                                    <%= link_to insights_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">Summary</p>
                                    <% end %>

                                    <%= link_to insights_calls_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">Tracking</p>
                                    <% end %>

                                    <%= link_to insights_tickets_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">Responsiveness</p>
                                    <% end %>

                                    <%= link_to insights_users_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">Performance</p>
                                    <% end %>

                                  <% elsif current_user.position == 'csrep' %>
                                    <%= link_to insights_leaderboard_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">Leaderboard</p>
                                    <% end %>

                                    <%= link_to insights_mystats_path do %>
                                      <p class="hover-sidebar-tab dropdown-item">My Stats</p>
                                    <% end %>

                                  <% end %>
                                </div>
                              </div>
                            <% end %>


                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
