<% if @check_index && current_user.position != 'manager' %>
    <% @all_tickets = Ticket.all.select{|t| t.status != 'N/A' && t.status != 'closed'}%>
        <% else %>
            <% @all_tickets = Ticket.all.select{|t| t.status != 'N/A'} %>
                <% end %>

           <table class="table table-hover" id='ticket-table'>
             <thead>
               <tr>
                 <th>CUSTOMER</th>
                 <th>AUTHOR</th>
                 <th>CATEGORY</th>
                 <th>DEPARTMENT</th>
                 <th>STATUS</th>
                 <th>ASSIGNEE</th>
             </thead>

             <tbody>
             <% Ticket.all.each do |ticket| %>
               <tr class="picker">
                <td>
                <%= link_to edit_ticket_path(ticket) do %>
                    <%= ticket.customer_cnic %>
                    <% end %>
                </td>
                <td>
                    <%= ticket.author.name %>

                </td>
                <td>
                    <%= ticket.category %>
                </td>
                <td>
                    <%= ticket.department %>
                </td>
                <td>
                    <%= ticket.status %>
                </td>
                <td>
                  <% if ticket.assignee %>
                    <%= ticket.assignee.name %>
                  <% else %>
                    <%=   %>
                  <% end %>
                </td>
            </tr>
              <% end %>
             </tbody>
           </table>
           <div class="paging"></div>
         </div>

</div>
<script>
$(document).ready(function() {


    $('#ticket-table').datatable({
        pageSize: 10,
        sort: [false, false, false, false, true, false],
        filters: [true, 'select', 'select', 'select', 'select', 'select'],
        filterText: 'Search by customer... ',
        onChange: function(old_page, new_page) {
            console.log('changed from ' + old_page + ' to ' + new_page);
        }
    });

    $('#ticket-table').DataTable();
    $(".best_in_place").best_in_place();

});


</script>
