<%= simple_form_for(@ticket) do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :customer_id %>
    <%= f.input :category %>
    <%= f.input :department %>
    <%= f.input :status, collection: ["new", "active", "pending", "ready", "closed"] %>
    <%= f.input :next_step %>
    <%= f.input :description, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
