<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1><%= @function == 'edit' ? "new" : "edit" %></h1>
    </div>
    <div class="form-content">

      <%= simple_form_for(@ticket) do |f| %>
      <%= f.error_notification %>
      <div class="form-group">
        <%= f.input :customer_id, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"}%>
      </div>
      <div class="form-group">
        <%= f.input :category, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
      </div>
      <div class="form-group">
        <%= f.input :department, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
      </div>
      <div class="form-group">
        <% if current_user.position == 'maneger' %>
        <%= f.input :status, collection: ["new", "active", "pending", "ready", "closed"], input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
        <% else %>
        <%= f.input :status, collection: ["new", "active", "pending", "ready", "closed"], input_html: {class: 'form-group form-input'}, wrapper_html: {class: "form-element"} %>
        <% end %>
        </div>
        <div class="form-group">
        <%= f.association :assignee, collection: User.all, input_html: {class: 'form-group form-input'}, wrapper_html: {class: "form-element"} %>
      </div>
      <div class="form-group">
        <%= f.input :next_step, as: :text, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
      </div>
      <div class="form-group">
        <%= f.input :description, as: :text, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
      <div class="input hidden ticket_call_id"><input class="hidden" type="hidden" value="<%=@call.id%>" name="ticket[call_id]" id="ticket_call_id"></div>
      </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "button-submit"%>
      </div>
      <% end %>
      <% if @function == 'edit'%>
        <%= link_to 'Show', @ticket %> |
        <%= link_to 'Back', tickets_path %>
      <% end %>
    </div>
  </div>
</div>
</div>
