<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Form Title (new/edit/delete</h1>
    </div>
    <div class="form-content">
<%= simple_form_for(@ticket) do |f| %>
<%= f.error_notification %>

  <div class="form-group  form-inputs">

    <%= f.input :customer_id, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"}%>
    </div>
    <div class="form-group  form-inputs">
    <%= f.input :category, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
    </div>
    <div class="form-group  form-inputs">
    <%= f.input :department, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
    </div>
    <div class="form-group  form-inputs">
    <% if current_user.position == 'maneger' %>
      <%= f.input :status, collection: ["new", "active", "pending", "ready", "closed"], input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
    <% else %>
      <%= f.input :status, collection: ["new", "active", "pending", "ready", "closed"], input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>
    <% end %>
    </div>
    <div class="form-group  form-inputs">
    <%= f.input :next_step, wrapper_html: {class: "form-element"} %>
    </div>
    <div class="form-group  form-inputs">
    <%= f.input :description, as: :text, input_html: {class: 'form-input'}, wrapper_html: {class: "form-element"} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button-submit"%>
  </div>
<% end %>

</div>
  </div>
</div>


