<p id="notice"><%= notice %></p>
      <div class="row">
         <div class="tabbar col-sm-2">
           <%= link_to "All", tickets_path %>
           <hr>
           <%= link_to "Ready", tickets_path %>
           <hr>
           <%= link_to "Pending", tickets_path %>
           <hr>
           <%= link_to "Active", tickets_path %>
           <hr>
           <%= link_to "New", tickets_path %>
         </div>
         <div class="tickets col-sm-9">
           <table class="table">
             <thead>
               <tr>
                 <th>customer</th>
                 <th>author</th>
                 <th>Category</th>
                 <th>Department</th>
                 <th>Status</th>
                 <th>Next step</th>
               </tr>
             </thead>

             <tbody>
               <% @tickets.each do |ticket| %>
                 <tr>
                   <td><%= ticket.customer_id %></td>
                   <td><%= ticket.author.name %></td>
                   <td><%= ticket.category %></td>
                   <td><%= ticket.department %></td>
                   <td><%= ticket.status %></td>
                   <td><%= ticket.next_step %></td>
                   <td><%= link_to 'Show', ticket %></td>
                   <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
                 </tr>
               <% end %>
             </tbody>
           </table>
         </div>
</div>
