<p id="notice"><%= notice %></p>
<div class="content">
       <div class="row">
         <div class="tabbar col-sm-3">
           <%= link_to "All", tickets_path %>
           <hr>
           <%= link_to "Ready", tickets_path %>
           <hr>
           <%= link_to "Pending", tickets_path %>
           <hr>
           <%= link_to "Active", tickets_path %>
           <hr>
           <%= link_to "New", tickets_path %>
         </div>
         <div class="tickets col-sm-9">
           <table class="table">
             <thead>
               <tr>
                 <th>customer</th>
                 <th>User</th>
                 <th>Category</th>
                 <th>Department</th>
                 <th>Status</th>
                 <th>Next step</th>
               </tr>
             </thead>

             <tbody>
               <%= render @tickets %>

             </tbody>
           </table>
           </div>
        </div>
  <span class="green-btn"><%= link_to 'New Ticket', new_ticket_path %></span>
</div>
