<p id="notice"><%= notice %></p>

<p>
  <strong>Customer</strong>
  <%= @ticket.customer_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Next step:</strong>
  <%= @ticket.next_step %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
