

<!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login 123</h1>

    </div>
    <div class="form-content form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <%= f.input :email, required: false, autofocus: true%>
      </div>
      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <%= f.input :password, required: false %>
      </div>
      <div class="form-group">
        <label class="form-remember">
          <%= f.input :remember_me, class: "form-remember", type: "checkbox", as: :boolean if devise_mapping.rememberable?%>
        </label><%= link_to "Forgot your password?", new_password_path(resource_name), class: 'form-recovery' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "button-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

