<% User.all.select{|u| u.position == 'csrep'}.each do |user| %>
  <% img_path = user.name + '.png'%>
  <% calls = Call.all.select{|c| c.user == user} %>
  <% tickets = Ticket.all.select{|t| t.author_id == user.id} %>
  <div class="chart-card">

      <div class="row">
        <div class="col-sm-4">
          <div class="card-box widget-user" style="height:122.9px">
            <div class="row">
              <div class="col-sm-5">
                <img src="<%= image_path(img_path) %>" alt="" class="img-circle" style="max-height: 60px;">
              </div>
              <div class="col-sm-4">
                <h3><strong><%= user.name %></strong></h3>
              </div>
            </div>
            <div class="row">
              <div style="font-size: 13px; font-family: 'Caveat', cursive;"><%= user.desc %></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="text-align: left">
          <div class="card-box widget-user">
              <div class="text-center">
                  <h2 class="text-custom" data-plugin="counterup"><%= user.calls.select{|c| c.created_at.today? }.count %></h2>
                  <h5>Calls Today</h5>
              </div>
          </div>
          <!-- <p><strong>Today: </strong><%= user.calls.select{|c| c.created_at.today? }.count %> calls</p>
          <p><strong>Call Duration: </strong><%= Call.user_call_duration(user) %> mins</p>
          <p><strong>Response time: </strong><%= Ticket.user_average_response_time(user).round %> hours</p> -->
        </div>
        <div class="col-sm-4" style="text-align: left">
          <div class="card-box widget-user">
              <div class="text-center">
                  <h2 class="text-custom" data-plugin="counterup"><%= Call.user_call_duration(user) %> mins</h2>
                  <h5>Avg. Duration</h5>
              </div>
          </div>
<!--           <p><strong>Resolve time: </strong><%= Ticket.user_average_resolve_time(user).round %> hours</p>
          <p><strong>Waiting time: </strong><%= Ticket.user_average_waiting_time(user).round %> hours</p>
          <p><strong>Processing time: </strong><%= Ticket.user_average_processing_time(user).round %> hours</p> -->
        </div>
      </div>


    <div class="chart-card">
      <div class="row">
        <div class="col-sm-6">
          <h6>Response Time: <%= Ticket.user_average_response_time(user).round %> hours</h6>
          <%= pie_chart Ticket.user_response_time_hash(user), colors: @colors[user.id % 5], donut: true%>
        </div>
        <div class="col-sm-6">
          <h6>Resolve Time: <%= Ticket.user_average_resolve_time(user).round %> hours</h6>
          <%= pie_chart Ticket.user_resolve_time_hash(user), colors: @colors[user.id % 5] , donut: true%>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h6>Waiting Time: <%= Ticket.user_average_waiting_time(user).round %> hours</h6>
          <%= pie_chart Ticket.user_waiting_time_hash(user), colors: @colors[user.id % 5], donut: true%>
        </div>
        <div class="col-sm-6">
          <h6>Processing Time: <%= Ticket.user_average_processing_time(user).round %> hours</h6>
          <%= pie_chart Ticket.user_processing_time_hash(user), colors: @colors[user.id % 5] , donut: true%>
        </div>
      </div>
    </div>
  </div>
<% end %>


